.gallery {max-width: 1000px; height: 400px; margin:0 auto; display: flex; }

.gallery-body{width: 100%;height: 100%; background-color: #454545; overflow: hidden;position: relative}

.gallery-body img{max-height: 100%;}

.wrap{ height: 100%; display: flex; transition: transform 1000ms linear 0s }


.l-button-wrap, .r-button-wrap {
    height: 100%;
    width: 10%;
    position: absolute;
    z-index: 1;
}

.r-button-wrap{
    display: flex;
    justify-content: flex-end;
    top:0;
    right:0;

}

.l-button, .r-button {
    height: 50px;
    width: 50px;
    background-color: #c4c4c4;
    opacity: 0.5;
    overflow: hidden;
    position: absolute; top : 50%; transform: translateY(-50%);
    border-radius: 50%;
    transition-property: background-color, opacity;
    transition-duration: 300ms;

}

.l-button:hover, .r-button:hover{
    background-color: #aeaeae;
    opacity: 1;
}

.r-button{float:right; margin-left: -10px}

.l-button{margin-left: 10px;}

.l-button img, .r-button img{max-width: 200%; height: 80%; margin-top: 5px  }

.l-button img{margin-left: 9px;}

.r-button img{margin-left: -24px;  }

